@charset "utf-8";
.wrapper{
    width: 800px;
    height: 800px;
    margin: 0 auto;
    position: relative;
}
.wrapper div{ 
    position: absolute;
    width: 25%;
    height: 25%;
    line-height: 200px;
    background: #ccc;
    text-align: center;  
    border: 1px solid #aaa;
    box-sizing: border-box; 
}

.left-1{
    left: 25%
}
.left-2{
    left: 50%
}
.left-3{
    left: 75%
}
.top-1{
    top: 25%
}
.top-2{
    top: 50%
}
.top-3{
    top: 75%
}
